.page {
  margin: 0 auto;
  width: fit-content;
}

.itemWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 1em 0 3em;
}

@media (min-width: 768px) {
  .itemWrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .itemWrap {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  height: 2em;
  line-height: 2em;
  padding: 10px 0;
  background-color: palegoldenrod;
  cursor: pointer;
}
